.center{
    text-align: center;
}
.center1{
    text-align: center;
    margin-top: -900px;
    font-size: 5em;
}

#menu_topo{
    width: 100%;
    margin-left: 10%;
    padding-top: 20px;
    margin-bottom: -100px;
    /*border: 0.1em solid red;*/
}
#menu_topo1{
    width: 100%;
    margin-left: 10%;
    margin-top: 30px;
    height: 40px;
    margin-bottom: -100px;
    /*border: 0.1em solid red;*/
}
.principal{
    margin-top: 100%;
    margin-bottom: 250px;
}
.container{
    margin-top: 150px;
}
#menu ul li{
    /*width: 50px;*/
    list-style-type:none;
    text-align: center;
    position: absolute;
    margin-top: 10px;
    /*border: 1px solid red;*/
}

table{
    /*    max-width: 1170px;
        min-width: 900px;  */
    width: 1030px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px #003333;
    -webkit-box-shadow: 0px 0px 10px #003333;
    -moz-box-shadow: 0px 0px 10px #003333;
}
table tr th{
    border-bottom: 1px solid #6666ff;
    background: #e8e8e8;
    font-variant: small-caps;
    text-shadow: 2px 2px 2px #999999;
    -moz-box-shadow: 2px 2px 2px #cccccc;
    -webkit-box-shadow: 2px 2px 2px #cccccc;
}
tbody tr:hover > td,
tbody tr:hover > th {
    background-color: #e8e8e8;
}

table tr td{
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    text-align: center;
}
.ajuste{
    position: absolute;
    margin-left: 900px;

}
/*.campo{
   padding: 30px;
   margin-left: 90px;
   margin-top: -40px;
}*/

fieldset{
    /*width: 900px;*/
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
    width:400px;   
    border-bottom: 1px solid #999999;
    background: #e8e8e8;
    font-variant: small-caps;
    text-shadow: 2px 2px 2px #999999;
    -moz-box-shadow: 2px 2px 2px #999999;
    -webkit-box-shadow: 2px 2px 2px #999999;
}
.movimento{
    width: 300px;
    margin-left: 900px;
    margin-top: -60px;
    position: absolute;
}

